.contact
{
    height: 5% !important;
    width: 5% !important; 
}

p
{
    color: black !important;
}

.pContact
{
     color: white !important;
}

.botonDiv
{

    background-color:#000b1a !important;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 450px!important;
    overflow-y: auto!important;
}

/* The Close Button */
.close 
{
    position: absolute;
    top: 15px;
    right: 35px;
    color: red;
    font-size: 50px !important;
    font-weight: bold;
    transition: 0.3s;
    background-color: red;
}

h1 {
    color: white !important;
}

.imagen
{
height: 11% !important;
width: 11% !important;    
}
.games 
{
height: 21%;
width: 21%;
}
.mainImage
{
	height: 23%;
	width: 23%;
}

.divMenu
{
  display:inline-block;
  width:100%;
}

.divHome,   .divExperience, .divSkills
{
	background-color: #000b1a;
}

.divInterests, .divGames, .divContact
{
	background-color: #001533;
}


.item 
{ 
	display: inline; 
	font-size: 2em;
	
}

/*
nuevo
*/
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    /*

    Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    
    width: 80%;
    /*
    max-width: 700px;
    */
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}



.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
